:root {
  --color-primary-blue: #8bacda;
  --color-primary-cyan: #00fff7;
  --color-darkblue-mainGB: #0d192b;
  --color-darkblue-cardGB: #14253d;
  --color-darkblue-line: #2f415b;
  --color-white: #fff;
  --font-primary: "Outfit", sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: var(--font-primary);
  background-color: var(--color-darkblue-mainGB);
  color: var(--color-primary-blue); }

.card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--color-darkblue-cardGB);
  max-width: 35rem;
  padding: 2.4rem;
  box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.0952917);
  border-radius: 1.5rem; }
  @media only screen and (max-width: 23.4em) {
    .card {
      gap: 2rem;
      min-width: 32.7rem; } }
  .card_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__hoverGB {
    display: block;
    position: relative; }
    .card__hoverGB:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-primary-cyan);
      opacity: 0.5;
      border-radius: 0.8rem; }
    .card__hoverGB:hover::before {
      content: "";
      display: inline-block;
      width: 4.8rem;
      height: 4.8rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      background: url(../images/icon-view.svg) 0 0 no-repeat; }
  .card__img {
    display: block;
    width: 30.2rem;
    border-radius: 0.8rem; }
    @media only screen and (max-width: 23.4em) {
      .card__img {
        width: 27.8rem; } }
  .card__heading__link:link, .card__heading__link:visited {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 600;
    font-size: 2.2rem; }
  .card__heading__link:hover, .card__heading__link:active {
    color: var(--color-primary-cyan);
    cursor: pointer; }
  .card__description {
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: var(--color-primary-blue); }
  .card__offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-size: 1.6rem; }
    @media only screen and (max-width: 23.4em) {
      .card__offer {
        font-size: 1.5rem; } }
    .card__offer__price {
      font-weight: 600;
      margin-left: 0.6rem;
      color: var(--color-primary-cyan); }
    .card__offer__time-left {
      margin-left: 0.6rem;
      color: var(--color-primary-blue); }
  .card__pricing, .card__time-left {
    display: flex;
    align-items: center; }
  .card__author {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    position: relative; }
    @media only screen and (max-width: 23.4em) {
      .card__author {
        font-size: 1.5rem; } }
    .card__author::before {
      content: "";
      background-color: var(--color-darkblue-line);
      width: 100%;
      height: 1px;
      position: absolute;
      top: -2rem; }
    .card__author__link:link, .card__author__link:visited {
      text-decoration: none;
      color: #fff;
      font-weight: 600; }
    .card__author__link:hover, .card__author__link:active {
      color: var(--color-primary-cyan);
      cursor: pointer; }
    .card__author__icon {
      width: 3.3rem;
      margin-right: 1.6rem;
      border: 1px solid #fff;
      border-radius: 50%; }
    .card__author__text {
      font-weight: 400;
      line-height: 2rem; }
